# Blockchain RPC Configuration
ETH_RPC_URL=http://localhost:8545
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ETH_WS_URL=ws://localhost:8545
SEPOLIA_WS_URL=wss://ethereum-sepolia-rpc.publicnode.com

# Database Configuration
DATABASE_URL=postgres://user:password@localhost:5432/chainconnector

# Server Configuration
HTTP_PORT=3000
HTTP_ADDR=0.0.0.0:3000
HTTP_ENABLED=true

# Monitoring Configuration
MONITOR_INTERVAL_SECONDS=15
MONITOR_ENABLED=true

# AWS / LocalStack SQS Configuration
AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENABLED=false
SQS_CONSUMER_ENABLED=false
NETWORK_QUEUE_NAME=chainconnector-network-registrations
NETWORK_QUEUE_URL=http://localhost:4566/000000000000/chainconnector-network-registrations
SQS_WAIT_TIME_SECONDS=10
SQS_VISIBILITY_TIMEOUT_SECONDS=30
BLOCK_PRODUCER_ENABLED=false
BLOCK_CONSUMER_ENABLED=false
BLOCK_QUEUE_NAME=chainconnector-block-events
BLOCK_QUEUE_URL=http://localhost:4566/000000000000/chainconnector-block-events

# Logging Configuration
LOG_LEVEL=debug
